extends ../../layouts/default.pug
include ../../mixins/show-alert
include ../../mixins/create-tree.pug

block main
  +show-alert-success(5000)
  +show-alert-error(5000)
  h1(class="mb-4") Chỉnh sửa sản phẩm

  form(
    action=`/${prefixAdmin}/productsCategory/edit/${productCategory.id}?_method=PATCH`
    id="form-edit-product-category"
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        value=productCategory.title
        required
      )
    div(class="form-group")
      label(for="parent_id") Danh mục cha
      select(
        name="parent_id"
        id="parent_id"
        class="form-control"
      )
        option(value="") -- Chọn danh mục cha --
        if(records)
          +select-tree(records)
    div(class="form-group")
      label(for="desc") Mô tả
      textarea(
        class="form-control"
        id="desc"
        name="description"
        rows="5"
        textarea-mce
      ) #{productCategory.description}

    div(class="form-group" upload-image)
      label(for="thumbnail") Ảnh
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      img(
        src=productCategory.thumbnail
        class="image-preview"
        upload-image-preview
      )
    div(class="form-group")
      label(for="position") Vị trí
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        value=productCategory.position
        placeholder="Tự động tăng"
        min="1"
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked =(productCategory.status = "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value=(productCategory.status = "inactive" ? true : false)
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật