extends ../../layouts/default.pug
include ../../mixins/show-alert.pug
include ../../mixins/create-tree.pug

block main
  if(role.permissions.includes("roles_edit"))
    h1(class="mb-4") Thêm mới nhóm quyền

    +show-alert-error(5000)

    form(
      action=`/${prefixAdmin}/roles/create`
      method="POST"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        )
      div(class="form-group")
        label(for="desc") Mô tả
        input(
          type="text"
          class="form-control"
          id="desc"
          name="description"
        )
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới
  else  
    h1 Không thể truy cập trang này, vui lòng quay lại!