.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      if(role.permissions.includes("products-category_view"))
        li
          a(href=`/${prefixAdmin}/productsCategory`) Danh mục sản phẩm
      if(role.permissions.includes("products_view"))
        li
          a(href=`/${prefixAdmin}/products`) Danh sách sản phẩm
      if(role.permissions.includes("roles_view"))
        li  
          a(href=`/${prefixAdmin}/roles`) Nhóm quyền
      if(role.permissions.includes("roles_view"))
        li  
          a(href=`/${prefixAdmin}/roles/permission`) Phân quyền
      if(role.permissions.includes("accounts_view"))
        li  
          a(href=`/${prefixAdmin}/accounts`) Danh sách tài khoản
      if(role.permissions.includes("trashs_view"))
        li 
          a(href=`/${prefixAdmin}/trash`) Thùng rác